<div class="container-fluid">
    <div class="row">
        <div class="col-6 ps-0 login">
            <img src="../../../assets/images/login/Side Image.png" class="responsive" alt="Side Image.png" width="100%">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center login">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2>Create an account</h2>
                    <p>Enter your details below</p>
                </div>
                <div class="col-12 mb-3">
                    <input type="text" placeholder="Name" nz-input>
                </div>
                <div class="col-12 mb-3">
                    <input type="text" placeholder="Email or Phone Number" nz-input>
                </div>
                <div class="col-12 mb-3">
                    <input type="password" placeholder="Password" nz-input>
                </div>
                <div class="col-12 mb-3">
                    <button nz-button nzType="primary" class="w-100" nzDanger routerLink="/home">Create Account</button>
                </div>
                <div class="col-12 mb-3">
                    <button nz-button nzType="default" class="w-100" default>
                        <span nz-icon nzType="google"></span>
                        Sign up with Google</button>
                </div>
                <div class="col-12 mb-3 d-flex justify-content-center">
                    <span>Already have account?</span> &nbsp; <a href="/login">
                        <u>Login</u>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>