<footer>
    <div class="row">

        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h4>Exclusive</h4>
                </div>
                <div class="col-12">
                    <p>Subscribe</p>
                </div>
                <div class="col-12">
                    <p>Get 10% off your first order</p>
                </div>
                <div class="col-12">
                   <input type="text">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h4>Support</h4>
                </div>
                <div class="col-12">
                    <p>111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
                </div>
                <div class="col-12">
                    <p>exclusive@gmail.com</p>
                </div>
                <div class="col-12">
                    <p>+88015-88888-9999</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h4>Account</h4>
                </div>
                <div class="col-12">
                    <p>My Account</p>
                </div>
                <div class="col-12">
                    <p>Login / Register</p>
                </div>
                <div class="col-12">
                    <p>Cart</p>
                </div>
                <div class="col-12">
                    <p>Wishlist</p>
                </div>
                <div class="col-12">
                    <p>Shop</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h4>Quick Link</h4>
                </div>
                <div class="col-12">
                    <p>Privacy Policy</p>
                </div>
                <div class="col-12">
                    <p>Terms Of Use</p>
                </div>
                <div class="col-12">
                    <p>FAQ</p>
                </div>
                <div class="col-12">
                    <p>Contact</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h4>Download App</h4>
                </div>
                <div class="col-12">
                    <p>Save $3 with App New User Only</p>
                </div>
                <div class="col-12">
                    <!-- <img src="../../../assets/images/footer/Qrcode 1.png" alt="Qrcode"> -->
                    <img src="../../../assets/images/footer/play-store-logo.png" alt="play-store-logo">
                    <img src="../../../assets/images/footer/download-appstore.png" alt="download-appstore">
                </div>
                <div class="col-12">
                    
                </div>
                <div class="col-6 d-flex justify-content-between mt-4">
                    <img src="../../../assets/images/footer/Icon-Facebook.png" alt="Icon-Facebook">
                    <img src="../../../assets/images/footer/Icon-Twitter.png" alt="Icon-Twitter.png">
                    <img src="../../../assets/images/footer/icon-instagram.png" alt="icon-instagram.png">
                    <img src="../../../assets/images/footer/Icon-Linkedin.png" alt="Icon-Linkedin.png">
                </div>
            </div>
        </div>

    </div>
</footer>